.menuList {
  background-image: url("../../images/bgGlobal.png");
  background-blend-mode: difference;
  background-color: white;
  height: 100%;
}
.menuListItem:hover {
  background-color: rgba(37, 89, 149, 1);
}
.menuListItem span {
  font-weight: bold;
  font-size: 1.3rem;
  color: rgba(241, 142, 28, 1);
}
