.beerListHeader{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    
}
.sortingIcon{
    text-align: right;
}
.beerListPagination{
    align-self: center;
    margin: 40px 0;
}