.beerSection{
    margin-bottom: 50px;
}
.beerHeader{
    display: grid;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden;
}
.beerTitle{
    font-size: 5rem;
    color: rgba(28, 128, 241, 1);
}
.beerDetails{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}
.beerDetails span{
    display: flex;
    background-color: rgba(28, 128, 241, 1);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
}
.beerDetails span b{
    color: rgba(241, 142, 28, 1);
    margin-right: 10px;
}
.beerDetails span a{
    font-weight: bold;
    color: white;
}
.beerDetails span a:hover{
    text-decoration: none;
}
.beerMap{
    display: block;
    width: 100%;
    max-width: 300px;
    background-color: rgba(241, 142, 28, 1);
    text-align: center;
    padding: 40px 20px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.beerMap:hover{
    background-color: rgba(241, 142, 28, 0.5);
    color: rgba(28, 128, 241, 1);
}

@media screen and (max-width: 1024px) {
    .beerTitle{
        font-size: 4rem;
    }
    .beerDetails{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .beerTitle{
        font-size: 3rem;
    }
    .beerDetails{
        grid-template-columns: 1fr;
    }
}